body{
	height:100%;	background-color:#74C19D; text-align:center;  vertical-align:middle;
}
.button.nav.enabled {
	cursor: pointer;
}
.button.nav {
	background-color: #f3bca1;	border-color: #9e4214 #9e4214 #672b0d;	border-radius: 3px;	border-style: solid;
	border-width: 1px;	color: #843711;	cursor: default;	display: inline-block;	font-family: "Lobster Two","Helvetica Neue",sans serif;
	font-size: 36px;	font-weight: 700;	height: 55px;	line-height: 45px;	max-width: 610px;	overflow: hidden;
	padding: 10px 12px 0;	text-align: center;	transition: background-color 100ms ease-out 0ms;	width: auto;
}
.wrapper {
	height:100%;	background-color:#74C19D;	margin-top:100px;	
}
.text {
	color: #fff;	font-family: "Lobster Two","Helvetica Neue",sans serif;	font-size: 46px;	line-height: 56px;
}
.description{
  color: #000;  font-family: "Lobster Two","Helvetica Neue",sans serif; font-size: 32px;  line-height: 46px;
}
.quest{
  color: #000;  font-family: "Lobster Two","Helvetica Neue",sans serif; font-size: 46px;  line-height: 56px;
}
select {
	min-width:250px;min-height: 70px; font-size: 36px;  font-weight: 700;
}
.attachment img {
    margin: 60px;
    -webkit-transform:scale(1.95); /* Safari and Chrome */
    -moz-transform:scale(1.95); /* Firefox */
    -ms-transform:scale(1.95); /* IE 9 */
    -o-transform:scale(1.95); /* Opera */
     transform:scale(1.95);
}
input{
  min-width:120px;min-height: 70px; font-size: 36px;  font-weight: 700;
}
input[type=checkbox]{
	display:none;
}

label {
	float: center;	clear: center;	width: auto;
}

input#maid[type=checkbox] ~ label{
    background: url(../images/maid.jpg);    height:100px;
    width:100px;
    display:inline-block;
	padding: 0 0 0 0px;
	border-color: green;
	border-radius: 3px;
	border-style: solid;
	border-width: 5px;
	cursor: pointer;
}
input#maid[type=checkbox]:checked+label{
	background: url(../images/maid.jpg);
    height:100px;
    width:100px;
    display:inline-block;
	padding: 0 0 0 0px;
	border-color: blue;
	border-radius: 3px;
	border-style: solid;
	border-width: 5px;
	cursor: pointer;
}
input#cook[type=checkbox] ~ label{
    background: url(../images/cook.jpg);
    height:100px;
    width:100px;
    display:inline-block;
	padding: 0 0 0 0px;
	border-color: green;
	border-radius: 3px;
	border-style: solid;
	border-width: 5px;
	cursor: pointer;
}
input#cook[type=checkbox]:checked + label{
	background: url(../images/cook.jpg);
    height:100px;
    width:100px;
    display:inline-block;
	padding: 0 0 0 0px;
	border-color: blue;
	border-radius: 3px;
	border-style: solid;
	border-width: 5px;
	cursor: pointer;
}
input#driver[type=checkbox] ~ label{
    background: url(../images/driver.jpg);
    height:100px;
    width:100px;
    display:inline-block;
	padding: 0 0 0 0px;
	border-color: green;
	border-radius: 3px;
	border-style: solid;
	border-width: 5px;
	cursor: pointer;
}
input#driver[type=checkbox]:checked + label{
	background: url(../images/driver.jpg);
    height:100px;
    width:100px;
    display:inline-block;
	padding: 0 0 0 0px;
	border-color: blue;
	border-radius: 3px;
	border-style: solid;
	border-width: 5px;
	cursor: pointer;
}
input#babysitter[type=checkbox] ~ label{
    background: url(../images/babysitter.jpg);
    height:100px;
    width:100px;
    display:inline-block;
	padding: 0 0 0 0px;
	border-color: green;
	border-radius: 3px;
	border-style: solid;
	border-width: 5px;
	cursor: pointer;
}
input#babysitter[type=checkbox]:checked + label{
	background: url(../images/babysitter.jpg);
    height:100px;
    width:100px;
    display:inline-block;
	padding: 0 0 0 0px;
	border-color: blue;
	border-radius: 3px;
	border-style: solid;
	border-width: 5px;
	cursor: pointer;
}
input#none[type=checkbox] ~ label{
    background: url(../images/none.png);
    height:100px;
    width:100px;
    display:inline-block;
	padding: 0 0 0 0px;
	border-color: green;
	border-radius: 3px;
	border-style: solid;
	border-width: 5px;
	cursor: pointer;
}
input#none[type=checkbox]:checked + label{
	background: url(../images/none.png);
    height:100px;
    width:100px;
    display:inline-block;
	padding: 0 0 0 0px;
	border-color: blue;
	border-radius: 3px;
	border-style: solid;
	border-width: 5px;
	cursor: pointer;
}
input#Yes[type=checkbox] ~ label{
    background: url(../images/yes.png);
    height:100px;
    width:100px;
    display:inline-block;
	padding: 0 0 0 0px;
	border-color: green;
	border-radius: 3px;
	border-style: solid;
	border-width: 5px;
	cursor: pointer;
}
input#Yes[type=checkbox]:checked + label{
	background: url(../images/yes.png);
    height:100px;
    width:100px;
    display:inline-block;
	padding: 0 0 0 0px;
	border-color: blue;
	border-radius: 3px;
	border-style: solid;
	border-width: 5px;
	cursor: pointer;
}
input#No[type=checkbox] ~ label{
    background: url(../images/no.png);
    height:100px;
    width:100px;
    display:inline-block;
	padding: 0 0 0 0px;
	border-color: green;
	border-radius: 3px;
	border-style: solid;
	border-width: 5px;
	cursor: pointer;
}
input#No[type=checkbox]:checked + label{
	background: url(../images/no.png);
    height:100px;
    width:100px;
    display:inline-block;
	padding: 0 0 0 0px;
	border-color: blue;
	border-radius: 3px;
	border-style: solid;
	border-width: 5px;
	cursor: pointer;
}

.star-rating{
  font-size:0;
  white-space:nowrap;
  display:inline-block;
  width:250px;
  height:50px;
  overflow:hidden;
  position:relative;
  background:
      url('../images/star.png');
  background-size: contain;
  i{
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 20%;
    z-index: 1;
    background: 
        url('../images/icon_star_filled_blue.png');  
    background-size: contain;
  }
  input{ 
    -moz-appearance:none;
    -webkit-appearance:none;
    opacity: 0;
    display:inline-block;
    width: 20%;
    height: 100%; 
    margin:0;
    padding:0;
    z-index: 2;
    position: relative;
    &:hover + i,
    &:checked + i{
      opacity:1;    
    }
  }
  i ~ i{
    width: 40%;
  }
  i ~ i ~ i{
    width: 60%;
  }
  i ~ i ~ i ~ i{
    width: 80%;
  }
  i ~ i ~ i ~ i ~ i{
    width: 100%;
  }
}

//JUST COSMETIC STUFF FROM HERE ON. THESE AREN'T THE DROIDS YOU ARE LOOKING FOR: MOVE ALONG. 

//just styling for the number
.choice{
  position: fixed;
  top: 0;
  left:0;
  right:0;
  text-align: center;
  padding: 20px;
  display:block;
}

//reset, center n shiz (don't mind this stuff)
*, ::after, ::before{
  height: 100%;
  padding:0;
  margin:0;
  box-sizing: border-box;
  text-align: center;  
  vertical-align: middle;
}
body{
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
  Helvetica, Arial, "Lucida Grande", sans-serif;
  &::before{
    height: 100%;
    content:'';
    width:0;
    background:red;
    vertical-align: middle;
    display:inline-block;
  }
}