body{
	height:100%;	background-color:#74C19D; text-align:center;  vertical-align:middle;
}
.button.nav.enabled {
	cursor: pointer;
}
.button.nav {
	background-color: #f3bca1;	border-color: #9e4214 #9e4214 #672b0d;	border-radius: 3px;	border-style: solid;
	border-width: 1px;	color: #843711;	cursor: default;	display: inline-block;	font-family: "Lobster Two","Helvetica Neue",sans serif;
	font-size: 36px;	font-weight: 700;	height: 55px;	line-height: 45px;	max-width: 610px;	overflow: hidden;
	padding: 10px 12px 0;	text-align: center;	transition: background-color 100ms ease-out 0ms;	width: auto;
}
.wrapper {
	height:100%;	background-color:#74C19D;	margin-top:100px;	
}
.text {
	color: #fff;	font-family: "Lobster Two","Helvetica Neue",sans serif;	font-size: 46px;	line-height: 56px;
}
.description{
  color: #000;  font-family: "Lobster Two","Helvetica Neue",sans serif; font-size: 32px;  line-height: 46px;
}
.quest{
  color: #000;  font-family: "Lobster Two","Helvetica Neue",sans serif; font-size: 46px;  line-height: 56px;
}
select {
	min-width:250px;min-height: 70px; font-size: 36px;  font-weight: 700;
}
.attachment img {
    margin: 60px;
    -webkit-transform:scale(1.95); /* Safari and Chrome */
    -moz-transform:scale(1.95); /* Firefox */
    -ms-transform:scale(1.95); /* IE 9 */
    -o-transform:scale(1.95); /* Opera */
     transform:scale(1.95);
}
input{
  min-width:120px;min-height: 70px; font-size: 36px;  font-weight: 700;
}
input[type=checkbox]{
	display:none;
}
input[type=radio]{
  display:none;
}

label {
	float: center;	clear: center;	width: auto;
}

input#maid[type=checkbox] ~ label{
    background: url(../images/maid.jpg);    height:100px;
    width:100px;
    display:inline-block;
	padding: 0 0 0 0px;
	border-color: green;
	border-radius: 3px;
	border-style: solid;
	border-width: 5px;
	cursor: pointer;
}
input#maid[type=checkbox]:checked+label{
	background: url(../images/maid.jpg);
    height:100px;
    width:100px;
    display:inline-block;
	padding: 0 0 0 0px;
	border-color: blue;
	border-radius: 3px;
	border-style: solid;
	border-width: 5px;
	cursor: pointer;
}
input#cook[type=checkbox] ~ label{
    background: url(../images/cook.jpg);
    height:100px;
    width:100px;
    display:inline-block;
	padding: 0 0 0 0px;
	border-color: green;
	border-radius: 3px;
	border-style: solid;
	border-width: 5px;
	cursor: pointer;
}
input#cook[type=checkbox]:checked + label{
	background: url(../images/cook.jpg);
    height:100px;
    width:100px;
    display:inline-block;
	padding: 0 0 0 0px;
	border-color: blue;
	border-radius: 3px;
	border-style: solid;
	border-width: 5px;
	cursor: pointer;
}
input#driver[type=checkbox] ~ label{
    background: url(../images/driver.jpg);
    height:100px;
    width:100px;
    display:inline-block;
	padding: 0 0 0 0px;
	border-color: green;
	border-radius: 3px;
	border-style: solid;
	border-width: 5px;
	cursor: pointer;
}
input#driver[type=checkbox]:checked + label{
	background: url(../images/driver.jpg);
    height:100px;
    width:100px;
    display:inline-block;
	padding: 0 0 0 0px;
	border-color: blue;
	border-radius: 3px;
	border-style: solid;
	border-width: 5px;
	cursor: pointer;
}
input#babysitter[type=checkbox] ~ label{
    background: url(../images/babysitter.jpg);
    height:100px;
    width:100px;
    display:inline-block;
	padding: 0 0 0 0px;
	border-color: green;
	border-radius: 3px;
	border-style: solid;
	border-width: 5px;
	cursor: pointer;
}
input#babysitter[type=checkbox]:checked + label{
	background: url(../images/babysitter.jpg);
    height:100px;
    width:100px;
    display:inline-block;
	padding: 0 0 0 0px;
	border-color: blue;
	border-radius: 3px;
	border-style: solid;
	border-width: 5px;
	cursor: pointer;
}
input#none[type=checkbox] ~ label{
    background: url(../images/none.png);
    height:100px;
    width:100px;
    display:inline-block;
	padding: 0 0 0 0px;
	border-color: green;
	border-radius: 3px;
	border-style: solid;
	border-width: 5px;
	cursor: pointer;
}
input#none[type=checkbox]:checked + label{
	background: url(../images/none.png);
    height:100px;
    width:100px;
    display:inline-block;
	padding: 0 0 0 0px;
	border-color: blue;
	border-radius: 3px;
	border-style: solid;
	border-width: 5px;
	cursor: pointer;
}
input#Yes[type=checkbox] ~ label{
    background: url(../images/yes.png);
    height:100px;
    width:100px;
    display:inline-block;
	padding: 0 0 0 0px;
	border-color: green;
	border-radius: 3px;
	border-style: solid;
	border-width: 5px;
	cursor: pointer;
}
input#Yes[type=checkbox]:checked + label{
	background: url(../images/yes.png);
    height:100px;
    width:100px;
    display:inline-block;
	padding: 0 0 0 0px;
	border-color: blue;
	border-radius: 3px;
	border-style: solid;
	border-width: 5px;
	cursor: pointer;
}
input#No[type=checkbox] ~ label{
    background: url(../images/no.png);
    height:100px;
    width:100px;
    display:inline-block;
	padding: 0 0 0 0px;
	border-color: green;
	border-radius: 3px;
	border-style: solid;
	border-width: 5px;
	cursor: pointer;
}
input#No[type=checkbox]:checked + label{
	background: url(../images/no.png);
    height:100px;
    width:100px;
    display:inline-block;
	padding: 0 0 0 0px;
	border-color: blue;
	border-radius: 3px;
	border-style: solid;
	border-width: 5px;
	cursor: pointer;
}
p{
  margin  : 0 0 1.5em;
  padding : 0;
  width:700px;
}
starRating:not(old){
  display        : inline-block;
  width          : 22.5em;
  height         : 4.5em;
  overflow       : hidden;
  background-size : contain;
  text-align:center;  vertical-align:middle;
  
}

.starRating:not(old) > input{
  margin-right : -100%;
  opacity      : 0;
}

.starRating:not(old) > label{
  display         : block;
  float: right;
  position        : relative;
  background      : url('../images/star-off.svg');
  background-size : contain;
}

.starRating:not(old) > label:before{
  content         : '';
  display         : block;
  width           : 4.5em;
  height          : 4.5em;
  background      : url('../images/star-on.svg');
  background-size : contain;
  opacity         : 0;
  transition      : opacity 0.2s linear;
}

.starRating:not(old) > label:hover:before,
.starRating:not(old) > label:hover ~ label:before,
.starRating:not(:hover) > :checked ~ label:before{
  opacity : 1;
}
